footer {
  position: relative;
  height: 100px;
  padding: 32px
}

.footerText {
  @include center ('justify');
  width: 70%;
  color: $doveGrey;
  text-transform: uppercase;
  font-size: 10px;
}

.footerIcons i{
  @include center ('both');
  width: 30px;
  height: 30px;
  font-size: 13px;
  color: $malta;
  background-color: $swirlBg;
  border-radius: 5px;
  padding: 8px;
  margin: 0 12px ;
}  

.goUp {
  @include center ('both');
  width: 40px;
  height: 25px;
  background-color: $doveGrey;
  position: absolute;
  right: 4%;
  bottom: 0;
  .chevron {
    color: $whiteColor;
  }
}
