header {
  text-align: center;
  padding-top: 16px;
}

ul {
  @include center ('both');
  flex-direction: row;
}

li {
  list-style: none;
  padding: 0 58px;
}

a {
  color: $doveGrey;
  text-decoration: none;
  &:hover,
  &:active {
    color: $aquamarineBlue;
  }
}


h6 {
  text-transform: uppercase;
}