main {
  position: relative;
  text-align: center;
}

img {
  width: 100%;
}

//all buttons in main
.btn {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 25px;
  padding: 7px 24px;
  margin: 38px;
}

.btnFirst {
  color: $whiteColor;
  background-color: $swirl;
  &:hover {
    color: $whiteColor;
    background-color: $aquamarineBlue;
  }
}

.btnSecond {
  color: $swirl;
  border: 3px solid $swirl;
  &:hover {
    color: $aquamarineBlue;
    border:  3px solid $aquamarineBlue;
  }
}

//soon under the header
.heroArea {
  color: $whiteColor;
  position: absolute;
  bottom: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  h2 {
    font-size: 48px;
  }
}

h2, h4, p {
  text-transform: capitalize;
}
 
/* LUXURY COMPOINENT */
.middleMain,
#ellipse {
  background-color: $whiteColor;
}

.LuxuryText {
  @include center ('both');
  flex-direction: column;
  width: 30%;
  color: $ironsideGrey;
  margin: 0 auto;
}

.LuxuryText h2 {
  font-size: 36px;
  padding-top: 64px;
}

.leaf {
  transform: rotate(90deg);
  font-size: 24px;
  padding: 16px 0;
}

.leaf, .topText, .middleIcons {
  color: $malta;
}

.line {
  width: 6vw;
  border-bottom: 1px solid $malta;
  margin: 50px;
}

//icon plus text under it (hands, smile, heart etc..)
.iconText {
  width: 60%;
  margin: 60px auto;
}

.middleIcons  {
  width: calc(100% / 5);
  float: left;
}

.icons.fa-sign-language{
  transform: scaleX(-1);
}

.middleIcons:nth-child(even){
  margin-top: 54px;
}

.icons {
  font-size: 36px;
}

#ellipse {
  height: 105px;
  clip-path: ellipse(50% 50%);
  margin-top: 175px;
}