main {
  position: relative;
  text-align: center;
}

img {
  width: 100%;
}

//font in Main 
.heroArea h2,
.LuxuryText h2,
.middleIcons p,
.faceBodyRight h2,
.bG h4,
.text h5 {
  font-family: "Playfair Display";
}

.heroArea h4,
.topText,
.infoBox h6 {
  font-family: "Cormorant Garamond";

}


//all buttons in main
.btn {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 25px;
  padding: 7px 24px;
  margin: 38px;
}

.btnFirst {
  color: $whiteColor;
  background-color: $swirl;
  &:hover {
    color: $whiteColor;
    background-color: $aquamarineBlue;
  }
}

.btnSecond, .btnFaceBody {
  color: $swirl;
  border: 3px solid $swirl;
  &:hover {
    color: $aquamarineBlue;
    border:  3px solid $aquamarineBlue;
  }
}

.btnFaceBody {
  @include left ('justify');
}

//soon under the header
.jumbotron {
  @include center ('both');
  width: 100%;
}

.heroArea {
  color: $whiteColor;
  position: absolute;
  left: 50%;
  top: 7%;
  transform: translate(-50%, -50% );
  h2 {
    font-size: 48px;
  }
}

h2, p {
  text-transform: capitalize;
}
 
/* LUXURY COMPOINENT of Main*/
.Luxury {
  @include center ('both');
  flex-direction: column;
  background-color: $whiteColor;
}

.LuxuryText {
  width: 30%;
  color: $ironsideGrey;
  margin: 0 auto;
}

.LuxuryText h2 {
  font-size: 36px;
  padding-top: 64px;
}

.leaf {
  transform: rotate(90deg);
  font-size: 24px;
  padding: 16px 0;
}

.line {
  width: 6vw;
  border-bottom: 1px solid $malta;
  margin: 50px auto;
}

.leaf, .topText, .middleIcons {
  color: $malta;
}

/* IconAndTextLuxury component of Main*/
.iconBg {
  @include center ('justify');
  width: 100%;
  height: 220px;
  clip-path: ellipse(51% 48%);
  background-color: $whiteColor;
  padding: 32px;
}

.iconText {
  width: 60%;
}

.middleIcons  {
  width: calc(100% / 5);
  float: left;
}

.icons.fa-sign-language{
  transform: scaleX(-1);
}

.middleIcons:nth-child(even){
  margin-top: 54px;
}

.icons {
  font-size: 36px;
}

/* Our Treatments */
.bG {
  position: relative;
  height: 150px;
  img {
    height: 100%;
    object-fit: cover;
  }
}
 
.bG h4 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: $whiteColor;
  text-transform: uppercase;
}



