main {
  position: relative;
  text-align: center;
} 

//font in Main 
.heroArea h2,
.LuxuryText h2,
.middleIcons p,
.faceBodyRight h2,
.bGfirst h4 {
  font-family: "Playfair Display";
}

.heroArea h4,
.topText,
.infoBox h6,
.offerText h4 {
  font-family: "Cormorant Garamond";
}

//text in main, uppercase and capitalize
.btn,
.bGfirst h4,
.citation h6,
.discount p {
  text-transform: uppercase;
}

h2, p {
  text-transform: capitalize;
}

//all buttons in main
.btn {
  font-weight: 600;
  font-size: 12px;
  border-radius: 25px;
  padding: 7px 24px;
  margin: 38px;
}

.btnFirst,
.butn {
  color: $whiteColor;
  background-color: $swirl;
  &:hover {
    color: $whiteColor;
    background-color: $aquamarineBlue;
  }
}

.btnSecond, .btnFaceBody {
  color: $malta;
  border: 3px solid $malta;
  &:hover {
    color: $aquamarineBlue;
    border:  3px solid $aquamarineBlue;
  }
}

.btnFaceBody {
  margin: 24px 0 !important;
  width: max-content;
}

//soon under the header, jumbotron
.jumbotron {
  position: relative;
  @include center ('both');
  width: 100%;
}

.heroArea,
.demosOnSale {
  position: absolute;
}

.heroArea {
  width: 80%;
  color: $whiteColor;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.heroArea h2 {
  font-size: 10vh;
}

.heroArea h4 {
  font-size: 5vh;
}

// two little squares on right side of jumbotron
.demosOnSale {
  right: 15px;
  top: 30px;
}

.demos,
.onSale { 
  width: 80px;
  height: 80px;
  background-color: $whiteColor;
  border-radius: 10px;
  margin-top: 12px;
  text-transform: capitalize;
}

.demos img,
.onSale img {
  width: 70%;
}

.demosOnSale p {
  font-weight: 600;
  color: $ironsideGrey;
}

.onSale img {
  padding-top: 8px
}

// Our Treatments (also a common class with the offer side)
.bG {
  position: relative;
}

.bG img {
  height: 100%;
  object-fit: cover;
}

.bGfirst {
  height: 150px;
}
 
.bGfirst h4,
.bGsecond .offer{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: $whiteColor;
}

// citation part, with image and citation, before footer 
.parfumImg {
  position: relative;
  width: 100%;
  height: 100%;
}

.citation {
  width: 40%;
  color: $whiteColor;
  font-weight: 600;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
}

.citation p {
  text-transform: none;
  color: $whiteColor;
}

.citation h6 {
  font-weight: 600;
}

// offer side with the 25% off
.bGsecond {
  height: 250px;
  text-align: left;
}

.bGsecond p {
  font-size: 12px;
}

.offer {
  width: 80%;
  @include center ('both');
}

.discount {
  @include center ('both');
  flex-direction: column;
  width: 120px;
  height: 100px;
  color: $whiteColor;
  padding: 8px;
  margin-right: 32px;
  border: 1px solid $swirl;
}

.discount h4 {
  font-size: 40px;
} 

.offer p {
  color: $whiteColor;
}

.offerText {
  margin-right: 120px;
}