@mixin center ($type:'both'){
  display: flex;
  @if $type == 'justify'{
    justify-content: center;
  } @else if $type == 'align'{
    align-items: center;
  } @else if $type == 'both' {
    justify-content: center;
    align-items: center;

  }
}

@mixin left ($type:'justify'){
  display: flex;
  @if $type == 'justify'{
    justify-content: flex-start;
    flex-direction: column;
  }
}