.col-3 {
  @include center ('both');
  display: inline-block;
}

.preview {
  text-align: left;
  border: 1px solid $malta;
}

.imageTreats{
  @include center ('both');
  width: 429px;
  height: 471px;
  background-color: $malta;
  position: relative;
}

.imgTitle {
  display: none;
  @include center ('align');
  text-align: center;
  color: $whiteColor;
  font-family: "Playfair Display";
  text-transform: capitalize;
  &:hover {
    display: block ;
  }
}

.imageTreats img {
  width: 100%;
  height: 100%;
  position: absolute;
  &:hover {
    display: none;
  }
}


.text {
  text-align: left;
  padding: 24px;
}

.text h5 {
  font-family: "Playfair Display";
  color: $malta;
  text-transform: capitalize;
  border-bottom: 1px solid $malta;
  padding-bottom: 24px;
}

.text p {
  color: $ironsideGrey;
  font-size: 13px;
  padding-top: 20px;
}
